VITE_CLERK_PUBLISHABLE_KEY=pk_test_****************************************
GEMINI_API_KEY=***************************************
OPENROUTER_API_KEY=sk-or-v1-*************************************************************
DATABASE_URL=postgresql://postgres.**********************************@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres